<div class="container">
  <div class="week-servant">
    <h1>Servant of the Week</h1>
    <a href="">
      <img
        class="servant-image"
        src="../../../../assets/images/week-servant.png"
        alt="Servant image"
      />
    </a>
    <a class="servant-name" href=""><h2>Artoria Pendragon</h2></a>
    <a href="">
      <img
        class="servant-class"
        src="../../../../assets/images/Classes/Class-Saber-Gold.png"
        alt="Servant class"
      />
    </a>
  </div>
  <div class="main">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem, quam
    dolorem modi laboriosam quos voluptatum corporis aperiam eligendi, libero
    asperiores, provident quidem placeat. Ut necessitatibus aspernatur sit modi
    temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
    autem, quam dolorem modi laboriosam quos voluptatum corporis aperiam
    eligendi, libero asperiores, provident quidem placeat. Ut necessitatibus
    aspernatur sit modi temporibus. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Esse autem, quam dolorem modi laboriosam quos voluptatum
    corporis aperiam eligendi, libero asperiores, provident quidem placeat. Ut
    necessitatibus aspernatur sit modi temporibus. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Esse autem, quam dolorem modi laboriosam quos
    voluptatum corporis aperiam eligendi, libero asperiores, provident quidem
    placeat. Ut necessitatibus aspernatur sit modi temporibus.
  </div>
</div>
