<div class="container">
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Shielder-Gold.png"
        alt="Shielder class icon"
      />
      <h2>Shielder</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Saber-Gold.png"
        alt="Saber class icon"
      />
      <h2>Saber</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Archer-Gold.png"
        alt="Archer class icon"
      />
      <h2>Archer</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Lancer-Gold.png"
        alt="Lancer class icon"
      />
      <h2>Lancer</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Rider-Gold.png"
        alt="Rider class icon"
      />
      <h2>Rider</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Caster-Gold.png"
        alt="Caster class icon"
      />
      <h2>Caster</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Assassin-Gold.png"
        alt="Assassin class icon"
      />
      <h2>Assassin</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Berserker-Gold.png"
        alt="Berserker class icon"
      />
      <h2>Berserker</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Ruler-Gold.png"
        alt="Ruler class icon"
      />
      <h2>Ruler</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Avenger-Gold.png"
        alt="Avenger class icon"
      />
      <h2>Avenger</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-MoonCancer-Gold.png"
        alt="Moon Cancer class icon"
      />
      <h2>Moon Cancer</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Alterego-Gold.png"
        alt="Alter Ego class icon"
      />
      <h2>Alter Ego</h2>
    </div></a
  >
  <a routerLink="./servants"
    ><div class="class-card">
      <img
        src="../../../../assets/images/Classes/Class-Foreigner-Gold.png"
        alt="Foreigner class icon"
      />
      <h2>Foreigner</h2>
    </div></a
  >
</div>
