<header *ngIf="!hasRoute('/register') && !hasRoute('/login')">
  <div class="nav-bar">
    <div class="menu">
      <!--img class="logo" src="../../../assets/images/logo.png" alt="logo" /-->
      <a routerLink=""><div class="logo"></div></a>
      <nav>
        <ul>
          <a routerLink="servants"><li>Servants</li></a>
          <a routerLink=""><li>Tools</li></a>
          <a routerLink="login"><li>Login</li></a>
        </ul>
      </nav>
    </div>
    <a class="profile" href="">Login</a>
  </div>
  <div class="stacked-nav-bar">
    <button class="toggle-btn" (click)="onClick()">LOGO</button>
    <nav [ngStyle]="showMenu ? { opacity: '1', visibility: 'visible' } : {}">
      <ul [ngStyle]="showMenu ? { top: '10em' } : {}">
        <a routerLink="servants"
          ><li
            [ngStyle]="
              showMenu ? { transform: 'translateY(0px)', opacity: '1' } : {}
            "
          >
            Servants
          </li></a
        >
        <a routerLink=""
          ><li
            [ngStyle]="
              showMenu ? { transform: 'translateY(0px)', opacity: '1' } : {}
            "
          >
            Tools
          </li></a
        >
        <a routerLink="login"
          ><li
            [ngStyle]="
              showMenu ? { transform: 'translateY(0px)', opacity: '1' } : {}
            "
          >
            Login
          </li></a
        >
      </ul>
    </nav>
  </div>
</header>
<div class="pad"></div>
