.container {
  margin: 3em 4em;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(0.5rem);
  border-radius: 3em;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  padding: 2em;
}

.container > h1 {
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgb(58, 44, 168, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.servants-container {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 1em;
  }

  .servants-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .servants-container {
    grid-gap: 1em;
  }
}
