.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back a {
  position: fixed;
  z-index: 10;
  left: 4em;
  top: 2em;
  width: 8em;
  height: 4em;
  cursor: pointer;
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgba(58, 44, 168, 1)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  color: #fff;
  transition: all 0.3s ease;
}

.back a:hover {
  background: rgb(108, 92, 231);
  transform: scale(1.2);
}

.container {
  margin: 2em 0;
  height: fit-content;
  width: 60%;
  border-radius: 3em;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgba(58, 44, 168, 1)
  );
  border-radius: 3em 3em 0 0;
  color: #fff;
  padding: 2em;
}

.up h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 1em;
  line-height: 2em;
}

.form-container {
  padding: 2em 4em;
}

.form-container h2 {
  margin-bottom: 1em;
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgb(58, 44, 168, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form-container .input {
  position: relative;
}

.form-container .input input {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 2px solid rgb(58, 44, 168);
  outline: none;
  background: transparent;
}

.form-container .input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0;
  font-size: 1em;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-container .input input:focus ~ label,
.form-container .input input:valid ~ label {
  top: -1.5em;
  left: 0;
  color: rgb(58, 44, 168);
  font-size: 0.8em;
}

.form-container button {
  width: 10em;
  height: 4em;
  margin: auto;
  cursor: pointer;
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgba(58, 44, 168, 1)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2em;
  color: #fff;
  transition: all 0.3s ease;
}

.form-container button:hover {
  background: rgb(108, 92, 231);
  transform: scale(1.2);
}

.register-footer {
  margin-top: 1em;
  width: 60%;
  border-radius: 3em 3em 0 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
}

.register-footer h2 {
  font-size: 3em;
}

.register-footer a {
  background: linear-gradient(
    to right bottom,
    rgba(108, 92, 231, 1),
    rgb(58, 44, 168, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1000px) {
  .up {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 4em 0;
    width: 80%;
  }

  .form-container {
    padding: 3em;
  }

  .register-footer {
    margin-top: 0;
    width: 80%;
    padding: 3em;
  }

  .register-footer h2 {
    font-size: 2em;
  }
}
